
@{
    ViewData["Title"] = "Location2";
}
<div>Nevada</div>
<h1>Location2</h1>

<p>
    Base price: $150
</p>
<form action="/" method="post">
    <p>Select a Hotel Option</p>
    <div>
        <input type="radio" id="EconomyHotel" name="HotelOption" value="1">
        <label for="EconomyHotel">Economy Hotel</label>
    </div>
    <div>
        <input type="radio" id="LuxuryHotel" name="HotelOption" value="50">
        <label for="LuxuryHotel">Luxury Hotel</label>
    </div>

    <div>
        Travellers:<input type="text" id="Travellers">
    </div>

    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

