@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Blue Skies Travel Tours</p>
</div>
<div>
    <a href="/Location/Location1">
        x days
        <h3>Location 1</h3>
        <h6>description of location 1</h6>
    </a><br />

    <a href="/Location/Location2">
        x days
        <h3>Location 2</h3>
        <h6>description of location 2</h6>
    </a><br />

    <a href="/">
        x days
        <h3>Location 3</h3>
        <h6>description of location 3</h6>
    </a><br />
</div>
